
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #232730;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 241, 241);
}

.App-link {
  color: #61dafb;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 300px;
  min-width: 250px;
  max-width: 350px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #232730;
  overflow-y: auto;
}

.logo-title {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  
}

.container{
  display: flex;
  align-items: flex-start;
  position: relative;
}

.sidebar-logo {
  width: 105px; 
  height: 105px;
  margin-top: -63px;
  margin-left: -55px;
  margin-right: -80px;
  
}

.sidebar h1 {
  text-align: center; 
  font-size: 45px;
  color: white;
  margin-top: 10px; /* Adjust spacing between logo and text */
  letter-spacing: -3px;  
}
.title-text {
  display: flex;
  flex-direction: column; /* Ensure "Satellite" is above "Visualizer" */
  line-height: 0.8; /* Adjust line height for better spacing */
  text-align: right;
  line-height: 1.1;
  color: white;
  font-size: 4px;
  letter-spacing: -3px;
  flex-wrap: nowrap;
}

.satellite-text {
  font-size: 45px;
  margin-right: -55px;
  letter-spacing: -3px;
  margin-bottom: -20px;
  margin-top: -200px;
}

.input-group {
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 18px;
  overflow: hidden;
  background-color: white;
}
 
.sidebar input{
  background-color:#232730;
  border-radius: 18px;
  border: 1.5px solid white;
  color:white;
  padding: 18px;
  border-top-right-radius: 0px; 
  border-bottom-right-radius: 0px;
  font-size:80%;
}

input::placeholder { 
  color: white; 
} 
 
.sidebar button {
  background-color: white;
  border-radius: 18px;
  border: none;
  padding: 18px;
  font-size:80%;
}
 
.viewer-container {
  flex: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.viewer-container .cesium-viewer {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
